@charset "utf-8";

/* CSS Document */


/* Einbindung google fonts */

@import url(https://fonts.googleapis.com/css?family=Raleway:500);
body {
	font-family: Raleway, Arial, sans-serif;
	font-size: 1.6rem;
	font-weight: 500;
	background-color: #efefef;
}

#wrapper {
	text-align: center;
	margin: 0 auto;
}

header {
	margin: 20px 0 0 40px;
	padding: 0 0 2px;
	height: 180%;
}

h1 {
	font-size: 5rem;
	margin: 0 0 20px;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    z-index: 100;
}

a,
a:hover,
a:visited {
	color: rgba(0, 0, 0, 1.00);
	text-decoration: none;
}


/*****************Enter*****************************/

.site-wrapper {
	background-image: url("img/index/027.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}


.inner img.logo{
	width: 40%;
}

.masthead-nav {
    margin-top:25%;
	float:none;
}

.masthead-nav li a {
	border:0px;
	font-size: 2rem;
	font-family: Raleway;
    transition: 1.5s font-size;
}

.masthead-nav li a:hover {
    font-size:6rem
}


/*******************Navigation*******************************/

#nav1 {
    width: 130px;
    height: 35px;
    float: right;
    margin-right: 40px;
}

#nav-icon {
    width: 35px;
    height: 35px;
    float: left;
    margin: 3px;
}

.nav navbar-nav {
    align-content: center;
    float:none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar-nav>li{
    float: none;
}

li {
      float: none;
      display: inline-block;
    }

.navbar-header {
	background-color: #efefef;
}

.navbar-default {
	background-image: linear-gradient(to bottom, #efefef 0, #efefef 100%);
	border: none;
    -webkit-box-shadow: none;
    box-shadow:none;
}

#nav2 ul {
	width: 98%;
	text-transform: uppercase;
}

#nav2 ul li {
	padding: 0 40px;
	display: inline-flex;
}

.navbar-nav > li {
	float: none !important;
}

#aktiv {
	font-weight: 700;
	border-bottom: 1px solid;
}

li {
	padding-left: 10px;
	display: inline;
}

ul {
	list-style: none;
}

#nav2 ul li a {
	padding: 6px;
}

#nav2 ul li a:hover {
	border-bottom: 1px solid;
}

#nav2 ul li a.link-active {
    border-bottom: 1px solid;
}

figcaption {
    margin-top:5px;
    font-size:1.2rem;
}

/*****************Gallery*****************************/



#uebersicht{
    display: inline-block;
    width: 60%;
    height: 50%;
    float: none;
}

.img-center {
    display: inline-block;
    margin-bottom: 30px;
    
}



#uebersicht img {
	width: 100 %;
	opacity: 1;
	transition: opacity 0.5s;
	transition: width 0.5s;
}

#uebersicht img:hover {
	opacity: 0.7;
	width: 110%;
}

.box_b,
.box_h {
	width: 400px;
	height: 250px;
}

input[type="range"] {
	margin: 10px auto;
	width: 40%;
}

output {
	display: inline;
	font-size: 16px;
}


/********CAROUSEL***********/

.carousel {
	width: 70%;
	margin: 0 auto;
}

.carousel .gal {
	cursor: url(img/cursor.png), auto;
}





/***********Footer***************/
.footer {
	clear: both;
	bottom: 0;
	width: 100%;
	font-size: 10px;
	font-size: 12px;
	padding: 2px;
	margin-top: 10px;
    background-color: #efefef;
    color: #575756 !important; 
    text-align:center;
}

#footer-text {
/*    text-align: left !important;
    float: left;*/
}

.text-muted a {
    color:#777;
}

.container, .text-muted{
    margin: 0 auto !important;
}

#container {
	width: 100%;
}

#center {
	margin: 0 auto;
	width: 100px;
}

#right {
	float: right;
	width: 100px;
}


/********CONTACT***********/


h4 {
	text-align: left;
}

h2{
    margin-top: 0px !important;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}   

.address {
	float: left;
	text-align: left;
}


/********ABOUT***********/


.about_left {
    float: left;
    width: 40%;
    padding-right: 10px;
}

.about_right {
    float: right;
    width: 60%;
    padding-right: 30%;
    padding-left: 10px;
    padding-bottom: 10px;
}

.portrait_ruedi {
    float: right;
    width: 150px;
}

.text_about {
    float: left;
    text-align: left;
    width: 90%;
}

/* Tablets und kleiner */
@media only screen and (max-width: 760px) {
	.about_right { 
        margin-left: auto;
        margin-right: auto;
        width: 50vw; 
        float: none;
    }
    .about_left {
        float: none;
        width: 100vw;
        margin-bottom: 5vw;
    }
    .portrait_ruedi {
        float: none;
        width: 30vw;
    }
    .text_about {
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 50vw;
    }
}


/********DOCUMENTATION***********/


.text_centered {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 38%;
}

#pic_documentation {
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    display: block;
}

.headline_documentation {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 38%;
    color: #283982;
}

/**************** Media Queries *****************/
@media screen and (min-width: 960px) {
    .logo {
        width: 25%;
    }
}
@media screen and (max-width: 960px) {
    .logo {
        width: 40%;
    }
}
@media screen and (max-width: 640px) {
    .logo {
        width: 60%;
    }
}